.App {
    text-align: center;
}

body {
    font-family: nevis
}

#user-dropdown {
    color: #edf2f7;
}

#user-dropdown::after {
    content: none;
}

#user-dropdown:hover {
    text-decoration: none; 
    color: #718096;
}